@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ICT Building,<br />
    Mountain Top University<br />
    Kilometre 12, Lagos Ibadan Expressway,<br />
    Ogun State, Nigeria.<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:admin@mtu.edu.ng">Admin@mtu.edu.ng</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@mtu.edu.ng">Marketing@mtu.edu.ng</a>
</address>