@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ONLINE STUDENT EXEAT SYSTEM (OSES)</h1>
    <p class="lead">This is the online platform for the application and processing of student exeats.</p>
    <p><a href="Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Student Login</h2>
        <p>
            Login in to apply for exeats, view all exeats and their approval status and Print exeats in one place with no stress, wherever, whenever.
        </p>
        <p><a class="btn btn-default" href="Account/Login">Click here &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Heads of Departments</h2>
        <p>Login in to approve exeats and view all exeats and their approval status in one place with no stress, wherever, whenever.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student Affairs</h2>
        <p>Login in to approve exeats and view all exeats and their approval status in one place with no stress, wherever, whenever.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Click here &raquo;</a></p>
    </div>*@
</div>